/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */

.content {
    display: flex;
}

.photo-container {
    flex: 1 1 0;
    height: 100vh;
    max-width: 50vw;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.photo-text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 55vh;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 15vh;
}

.photo-text {
    font-size: 28px;
    font-family: sans-serif;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-container {
    flex: 1.75 1 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    height: auto;
    padding: 50px;
    width: auto;
    min-width: 800px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    gap: 30px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 30px;
}

.account-details-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.personal-information-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

legend {
    text-align: center;
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    max-height: 15px;
}