/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */

:root {
    --main-color: #54BAB9;
    --second-color: #18978F;
    --accent-color-1: #E9DAC1;
    --accent-color-2: #F7ECDE;
    --valid-color: #68b654c0;
    --invalid-color: #ee6c6c;
    --photo-text-size: 24px;
}

.content {
    display: flex;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
}

.photo-container {
    flex: 1 1 0;
    height: 100vh;
    max-width: 50vw;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.photo-text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 101vh;
    background-color: rgb(84, 186, 185, 0.3);
    width: 100%;
    height: 15vh;
    transition: 1s;
}

.photo-text-overlay:hover {
    height: 101vh;
    background-color: rgb(84, 186, 185, 0.85);
    --photo-text-size: 42px;
}

.photo-text {
    font-size: var(--photo-text-size);
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 1s;
}

.form-container {
    flex: 1.8 1 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    transition: 0.25s;
}

.form-wrapper {
    height: auto;
    padding: 50px;
    width: auto;
    min-width: 800px;
    border-radius: 50px;
    box-shadow: 10px 10px var(--accent-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--accent-color-2);
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    gap: 30px;
    border: 2px solid var(--accent-color-1);
    border-radius: 25px;
    padding: 30px;
}

.account-details-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.personal-information-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

legend {
    text-align: center;
}

input, select {
    max-height: 20px;
    border: 2px solid var(--accent-color-1);
    background-color: white;
}

.invalid {
    border: 2px solid var(--invalid-color);
}

.valid {
    border: 2px solid var(--valid-color);
}

button {
    border: 2px solid var(--second-color);
    width: 100px;
    height: 45px;
    border-radius: 35px;
    transition: 0.5s;
    background-color: var(--main-color);
    color: var(--accent-color-2);
    font-weight: 600;
}

button:hover {
    border-radius: 0px;
    border: none;
    width: calc(100% + 100px);
    background-color: var(--accent-color-1);
    color: var(--second-color);
    cursor: pointer;
}
